/* Paleta de colores */
:root{
    --color-blue-1: rgb(2, 2, 78);
    --color-blue-2: rgb(47, 64, 147);
    --color-brown: rgb(79, 32, 9);
    --color-red: rgb(130, 0, 0);
    --background-white: #f0e3e3;
    --background-grey: #333;

}

/* styles1.css 0*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-grey);
}

header {
    background-color: var(--background-grey);
    color: white;
    padding: 7px;
    text-align: center;
}


footer {
    background-color: var(--background-grey);
    color: white;
    text-align: center;
    padding: 7px;
    position: block;
    bottom: 0;
    width: 100%;
}

footer > p {
    margin-top: 20px;
}

/* Estilos adicionales para mejorar la integración */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav li {
    padding: 7px;
}

nav a {
    text-decoration: none;
    color: var(--background-white);
    font-size: 1em;
}

nav a:hover {
    color: #928989;
}

.navbar-footer{
    margin-top: 12px;
}

.navbar-footer > a{
    padding: 10px;
}


