@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Jersey+10&display=swap');



/* Paleta de colores */
:root {
    --color-blue-1: rgb(2, 2, 78);
    --color-blue-2: rgb(47, 64, 147);
    --color-brown: rgb(79, 32, 9);
    --color-red: rgb(130, 0, 0);
    --background-white: #f0e3e3;
    --background-grey: #333;

}

/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 200 to 900 */

.inconsolata {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* styles1.css 0*/

body {
    /* font-family: Arial, sans-serif; */
    /* font-family: "Jersey 10", sans-serif; */
    margin: 0;
    padding: 0;
    background-color: var(--background-grey);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--background-grey);
    color: white;
    padding: 7px;
    text-align: center;
}

main {
    padding: 4rem 1rem;
}

footer {
    background-color: var(--background-grey);
    color: white;
    text-align: center;
    /* padding: 4rem 2rem; */
    margin-top: auto;
    width: 100%;
    font-size: small;
    border-top: 1px whitesmoke solid;

}

footer>p {
    margin-top: 20px;
}

/* Estilos adicionales para mejorar la integración */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav li {
    padding: 7px;
}

nav a {
    text-decoration: none;
    color: var(--background-white);
    font-size: 1em;
}

nav a:hover {
    color: #928989;
}

.navbar-footer {
    margin-top: 12px;
}

.navbar-footer>a {
    padding: 10px;
    text-decoration: none;
}

footer {
    background-color: var(--background-grey);
    color: white;
    text-align: center;
    padding: 7px;
    margin-top: auto;
}

footer > p {
    margin-top: 20px;
}

.navbar-footer {
    margin-top: 12px;
}

.navbar-footer>a {
    padding: 10px;
}

footer a:hover {
    color: #928989;
}


.contact-item img {
    width: 22px;
    height: 22px;
    }

.whatsapp-fixed {
    position: fixed;
    bottom: 40px;
    right: 62px;
    z-index: 9;
}

.btn-whatsapp {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* Resto de estilos */
}


/* seccion principal -primera seccion imagen y titulo */
.principal {
    height: 95vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
}

.img-bg {
    position: absolute;
    filter: brightness(.3);
    height: 100%;
    width: 100%;
    object-fit: cover;
}



/* .principal-logo {
    width: 30vh;
} */

.txt-logo {
    z-index: 1;
    animation: mover 1s ease-in-out;
    position: relative;
    /* margin-left: 3rem; */
}

@keyframes mover {
    0% {
        left: -200px;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

/* fin seccion principal */

/* seccion about */
.about {
    min-height: 100vh;
    background-color: var(--background-grey);
    color: white;
    /* padding: 4rem 2rem; */
}

.about h3 {
    color: rgb(253, 143, 143);
}

.about p {
    text-align: justify;
}




/* animacion aparecer */
/* solo se debe escribir la clase .aparecer en el elemento que se quiera que tenga la animacion */

.aparecer {
    animation: aparecer 1s ease-in-out;
    ;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}